<h1>Astronauts</h1>
<h2>Average Age: <%= @average_age %></h2>
<% @astronauts.each do |astronaut| %>
  <ul>
    <li><%= astronaut.name %></li>
    <li><%= astronaut.age %></li>
    <li><%= astronaut.job %></li>
  </ul>
<% end %>
